header {
    padding-top: 10px;
    margin-bottom: 0;
}

fieldset {
    border-color: white;
}

h1.heading :hover {
    text-shadow: 0 0 5px #ffffff
}

ul.catelist {
    list-style: none;
    margin: 0 -10px;
    padding: 0 0 0 8%;
}

ul.catelist li {
    float: left;
    margin: 45px;
    padding: 0 0 8px 0;
    position: relative;
    background: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.dropdown {
    position: relative;
    z-index: 597;
    float: left;
}

ul.dropdown li {
    float: left;
    min-height: 1px;
    line-height: 1.3em;
    vertical-align: middle;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

@media screen and (min-width: 769px) {
    ul.dropdown ul {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 598;
        width: 100%;
    }

    ul.dropdown,
    ul.dropdown li,
    ul.dropdown ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-device-width: 768px) {
    ul.dropdown ul {
        top: 100%;
        left: 5%;
        z-index: 598;
        width: 100%;
    }

    ul.dropdown,
    ul.dropdown li,
    ul.dropdown ul {
        list-style: none;
        margin: 10px;
        padding: 0;
    }
}

ul.dropdown ul li {
    float: none;
}

ul.dropdown ul ul {
    top: 1px;
    left: 99%;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.sub_dropdown {
    font-weight: bold;
    font-size: 1.1em;
}

ul.sub_dropdown li {
    list-style: none;
    padding: 7px 10px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fff #d9d9d9 #d9d9d9;
    background-color: #f6f6f6;
}

ul.sub_dropdown li.hover,
ul.sub_dropdown li:hover,
ul.sub_dropdown li.on {
    background-color: #5AA0D3;
}

ul.sub_dropdown li.hover a,
ul.sub_dropdown li:hover a,
ul.sub_dropdown li.on a {
    color: #FFFFFF;
    text-shadow: 0 0 5px #ffffff;
}

ul.sub_dropdown a:link      { color: #5AA0D3; text-decoration: none; }
ul.sub_dropdown a:visited   { color: #5AA0D3; text-decoration: none; }
ul.sub_dropdown a:hover     { color: #FFFFFF; }
ul.sub_dropdown a:active    { color: #ffa500; }

ul.sub_dropdown a.active:link,
ul.sub_dropdown a.active:visited    { color: #f33; text-decoration: none; }
ul.sub_dropdown a.active:hover      { color: #f00; }
ul.sub_dropdown a.active:active { color: #ffa500; }

/* -- level mark -- */

ul.sub_dropdown ul {
    width: 150px;
    margin-top: 1px;
}

ul.sub_dropdown ul li {
    font-weight: normal;
}

ul.sub_dropdown li {
    font-weight: normal;
    width: 200px;
}

.info-font {
    color: #1DABB8;
    text-shadow: 0 0 1px #F5E7C4;
}

.footer-copy {
    color: #e64c4e;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 1px #000000;
}

.tieegg-logo {
    display: inline-block;
    width: 1.1em;
    height: 1.4em;
    position: relative;
    top: 0.3em;
    background-image: url("../img/egg-logo.png");
    background-image: inline-image("egg-logo.png");
    background-size: 100% 100%;
    text-indent: -9999em;
    overflow: hidden;
}

.navbar-inverse {
    background-color: rgb(90, 160, 211);
}

/* postion style */
.content-margin-top {
    //margin-top: 60px;
}

.content-padding-top {
    //padding-top: 60px;
}

.float-menu {
    position: fixed;
    top: 30px;
    right: 30px;
    width: auto;
    height: auto;
    z-index: 100;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.title {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* component style */
.button-red a{
    text-align: center;
    display: inline-block;
    color: #f6f2eb;
    background-color: #fc6651;
    text-decoration:none;
    min-width: 10em
}

.button-red a:hover{
    color: #f6f2eb;
    background-color: #e1513a;
}

.button-red a:visited{
    color: #f6f2eb;
}

.button-blue a{
    text-align: center;
    display: inline-block;
    color: #f6f2eb;
    background-color: #3498DB;
    text-decoration:none;
    min-width: 10em
}

.button-blue a:hover{
    color: #f6f2eb;
    background-color: #2980B9;
}

.button-blue a:visited{
    color: #f6f2eb;
}

.button-yellow a{
    text-align: center;
    display: inline-block;
    color: #f6f2eb;
    background-color: #F1C40F;
    text-decoration:none;
    min-width: 10em
}

.button-yellow a:hover{
    color: #f6f2eb;
    background-color: #F39C12;
}

.button-yellow a:visited{
    color: #f6f2eb;
}

.button-1 a{
    padding: 0.5em 0;
}

.button-1 a:link{
    color: #f6f2eb;
}

.red-sidenote {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    background-color: #FCF2F2;
    border-left: 5px solid #DF7C7B;
}

.red-listnote {
    margin: 1px 0;
    padding: 5px 5px 5px 20px;
    background-color: #FCF2F2;
    border-left: 5px solid #DF7C7B;
}

.detail-sidenav {
    text-align: center;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 友言插件style */
#uyan_cmt_box a {
    //height: 100px;
}

.index-slide-img {
    background-color: #2ECC71;
    border-radius: 50%;
    height: 210px;
    margin: 0 auto 32px;
    padding: 40px 28px 30px 32px;
    text-align: center;
    width: 230px;
}

.tile-slide-img {
    background-color:#C0392B;
    border-radius: 6px;
    position: relative;
    text-align: center;
    width: 220px;
    height: 210px;
    padding: 30px;
}
