/** 自定义 **/
.text-label {
    margin: 10px 0;
}
input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 2px solid #D6E9C6 !important;
}
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 2px solid #EED3D7 !important;
}
ul.parsley-error-list {
  font-size: 12px;
  color: #e74c3c;
  margin: 2px;
  list-style-type:none;
}
ul.parsley-error-list li {
  line-height: 11px;
}

.detail-back-img {
    background-image: url(../img/detail-bg.gif);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.product-detail-title {
  padding: 0px 10px 10px;
  border-bottom: 4px solid #EAF2F8;
}

div.detail-hr {
  //padding: 0px 10px 10px;
  border-bottom: 4px solid #EAF2F8;
}

.tile {
  background-color: #ecf0f5;
  border-radius: 6px;
  padding: 14px;
  position: relative;
  text-align: center; }
  .tile.tile-hot:before {
    background: url("../images/tile/ribbon.png") 0 0 no-repeat;
    background-size: 82px 82px;
    content: "";
    height: 82px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px; }
  .tile p {
    font-size: 15px;
    margin-bottom: 33px; }

.tile-image {
  height: 120px;
  margin: 21px 0 27px;
  vertical-align: bottom; }
  .tile-image.big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 112px; }

.tile-title {
  font-size: 20px;
  margin: 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .tile.tile-hot:before {
    background-image: url("../images/tile/ribbon-2x.png"); } }

.contentWidth {
 width: 80%;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}
.row-fluid {
  background: #FFF;
  border-radius: 5px;
  //border: 1px solid #EEE;
  margin-bottom:20px;
  //padding-left: 20px;
  //padding-right: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.product_notebook {
  background-color: #E5E5E5;
  padding: 20px;
}

.product_notebook section {
  border-top: 5px solid #D2D2D2;
  padding: 0 0 25px 0;
}

.product_notebook .headfont {
  color: #878787;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* detail slider style START */
.detail-thumbnail {
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.detail-thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.detail-thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* detail slider style END */

.tile-slide-img-yellow {
    background-color:#2980B9;
    border-radius: 6px;
    position: relative;
    text-align: center;
    width: 220px;
    height: 210px;
    padding: 30px;
}

.tile-slide-img-red {
    background-color:#C0392B;
    border-radius: 6px;
    position: relative;
    text-align: center;
    width: 220px;
    height: 210px;
    padding: 30px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.tile-image-pay {
  height: 200px;
  margin: 21px 0 27px;
  vertical-align: bottom; }
  .tile-image.big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 112px; }
