/*!
 * TODC Bootstrap
 *
 * This CSS is intended to be used on top of Twitter Bootstrap, to theme
 * it in the Google style.
 *
 * Constructed by Tim O'Donnell (http://github.com/todc)
 */
body {
  font-family: 13px/22px, 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
  -webkit-hyphens: auto;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #1155cc;
}
a:hover,
a:focus {
  color: #1155cc;
}
.img-rounded {
  border-radius: 4px;
}
code,
pre {
  padding: 0 3px 2px;
  font-size: 12px;
  color: #333333;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
}
pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 0;
}
pre.prettyprint {
  margin-bottom: 20px;
}
table {
  background-color: transparent;
}
.table {
  margin-bottom: 20px;
}
.table thead > tr > th,
.table tbody > tr > th,
.table thead > tr > td,
.table tbody > tr > td {
  line-height: 20px;
  border-top: 1px solid #dddddd;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-radius: 2px;
}
.table-bordered thead > tr > th,
.table-bordered tbody > tr > th,
.table-bordered thead > tr > td,
.table-bordered tbody > tr > td {
  border-left: 1px solid #dddddd;
}
.table-bordered thead:first-child > tr:first-child > th:first-child,
.table-bordered tbody:first-child > tr:first-child > td:first-child,
.table-bordered tbody:first-child > tr:first-child > th:first-child {
  border-top-left-radius: 2px;
}
.table-bordered thead:first-child > tr:first-child > th:last-child,
.table-bordered tbody:first-child > tr:first-child > td:last-child,
.table-bordered tbody:first-child > tr:first-child > th:last-child {
  border-top-right-radius: 2px;
}
.table-bordered thead:last-child > tr:last-child > th:first-child,
.table-bordered tbody:last-child > tr:last-child > td:first-child,
.table-bordered tbody:last-child > tr:last-child > th:first-child,
.table-bordered tfoot:last-child > tr:last-child > td:first-child,
.table-bordered tfoot:last-child > tr:last-child > th:first-child {
  border-bottom-left-radius: 2px;
}
.table-bordered thead:last-child > tr:last-child > th:last-child,
.table-bordered tbody:last-child > tr:last-child > td:last-child,
.table-bordered tbody:last-child > tr:last-child > th:last-child,
.table-bordered tfoot:last-child > tr:last-child > td:last-child,
.table-bordered tfoot:last-child > tr:last-child > th:last-child {
  border-bottom-right-radius: 2px;
}
.table-bordered tfoot + tbody:last-child > tr:last-child > td:first-child {
  border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child > tr:last-child > td:last-child {
  border-bottom-right-radius: 0;
}
.table-bordered caption + thead > tr:first-child > th:first-child,
.table-bordered caption + tbody > tr:first-child > td:first-child,
.table-bordered colgroup + thead > tr:first-child > th:first-child,
.table-bordered colgroup + tbody > tr:first-child > td:first-child {
  border-top-left-radius: 2px;
}
.table-bordered caption + thead > tr:first-child > th:last-child,
.table-bordered caption + tbody > tr:first-child > td:last-child,
.table-bordered colgroup + thead > tr:first-child > th:last-child,
.table-bordered colgroup + tbody > tr:first-child > td:last-child {
  border-top-right-radius: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #ffffcc;
}
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td {
  background-color: #dff0d8;
}
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td {
  background-color: #f2dede;
}
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td {
  background-color: #f9edbe;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #f7e7a7;
}
legend {
  margin-bottom: 20px;
  font-size: 19.5px;
  line-height: 40px;
  color: #333333;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  min-height: 30px;
  padding: 4px 8px;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
}
textarea {
  padding-right: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover {
  border: 1px solid #b9b9b9;
  border-top-color: #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: 0 \9;
  border-color: #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box \9;
  width: 16px \9;
  height: 16px \9;
  border-width: 0 \9;
}
input[type="radio"] {
  border-radius: 1em;
  width: 15px;
  height: 15px;
}
input[type="checkbox"]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: none \9;
}
input[type="checkbox"]:active,
input[type="radio"]:active {
  border-color: #c6c6c6;
  background-color: #ebebeb;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: #fff;
}
input[type="checkbox"]:checked::after {
  content: url(../img/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}
input[type="radio"]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  border-radius: 1em;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
  border-color: #4d90fe;
}
select.input-large,
textarea.input-large,
input[type="text"].input-large,
input[type="password"].input-large,
input[type="datetime"].input-large,
input[type="datetime-local"].input-large,
input[type="date"].input-large,
input[type="month"].input-large,
input[type="time"].input-large,
input[type="week"].input-large,
input[type="number"].input-large,
input[type="email"].input-large,
input[type="url"].input-large,
input[type="search"].input-large,
input[type="tel"].input-large,
input[type="color"].input-large {
  padding: 9px 14px;
  font-size: 14px;
  border-radius: 4px;
}
select.input-small,
textarea.input-small,
input[type="text"].input-small,
input[type="password"].input-small,
input[type="datetime"].input-small,
input[type="datetime-local"].input-small,
input[type="date"].input-small,
input[type="month"].input-small,
input[type="time"].input-small,
input[type="week"].input-small,
input[type="number"].input-small,
input[type="email"].input-small,
input[type="url"].input-small,
input[type="search"].input-small,
input[type="tel"].input-small,
input[type="color"].input-small {
  min-height: 24px;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 1px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  height: 30px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly],
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea {
  cursor: not-allowed;
  background-color: #F5E7C4;
  border: 1px solid #e5e5e5;
}
input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover,
input[readonly]:hover,
select[readonly]:hover,
textarea[readonly]:hover,
fieldset[disabled] input:hover,
fieldset[disabled] select:hover,
fieldset[disabled] textarea:hover,
input[disabled]:focus,
select[disabled]:focus,
textarea[disabled]:focus,
input[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus,
fieldset[disabled] input:focus,
fieldset[disabled] select:focus,
fieldset[disabled] textarea:focus,
input[disabled]:active,
select[disabled]:active,
textarea[disabled]:active,
input[readonly]:active,
select[readonly]:active,
textarea[readonly]:active,
fieldset[disabled] input:active,
fieldset[disabled] select:active,
fieldset[disabled] textarea:active {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[readonly] input,
input[readonly] select,
input[readonly] textarea,
select[readonly] input,
select[readonly] select,
select[readonly] textarea,
textarea[readonly] input,
textarea[readonly] select,
textarea[readonly] textarea {
  cursor: not-allowed;
  border: 1px solid #d9d9d9;
}
input[readonly] input:hover,
input[readonly] select:hover,
input[readonly] textarea:hover,
select[readonly] input:hover,
select[readonly] select:hover,
select[readonly] textarea:hover,
textarea[readonly] input:hover,
textarea[readonly] select:hover,
textarea[readonly] textarea:hover,
input[readonly] input:focus,
input[readonly] select:focus,
input[readonly] textarea:focus,
select[readonly] input:focus,
select[readonly] select:focus,
select[readonly] textarea:focus,
textarea[readonly] input:focus,
textarea[readonly] select:focus,
textarea[readonly] textarea:focus,
input[readonly] input:active,
input[readonly] select:active,
input[readonly] textarea:active,
select[readonly] input:active,
select[readonly] select:active,
select[readonly] textarea:active,
textarea[readonly] input:active,
textarea[readonly] select:active,
textarea[readonly] textarea:active {
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .control-label {
  color: #333333;
}
.has-warning .input-with-feedback {
  padding-right: 32px;
  border-color: #333333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .input-with-feedback:focus {
  border-color: #1a1a1a;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #666666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #666666;
}
.has-warning .control-label {
  color: #333333;
}
.has-warning .input-with-feedback {
  padding-right: 32px;
  border-color: #333333;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .input-with-feedback:hover {
  border-color: #333333;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.has-warning .input-with-feedback:focus {
  border-color: #333333;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.has-error .control-label {
  color: #dd4b39;
}
.has-error .input-with-feedback {
  padding-right: 32px;
  border-color: #dd4b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .input-with-feedback:focus {
  border-color: #c23321;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ec9a90;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ec9a90;
}
.has-error .control-label {
  color: #dd4b39;
}
.has-error .input-with-feedback {
  padding-right: 32px;
  border-color: #dd4b39;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .input-with-feedback:hover {
  border-color: #dd4b39;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.has-error .input-with-feedback:focus {
  border-color: #dd4b39;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.has-success .control-label {
  color: #468847;
}
.has-success .input-with-feedback {
  padding-right: 32px;
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .input-with-feedback:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.has-success .control-label {
  color: #468847;
}
.has-success .input-with-feedback {
  padding-right: 32px;
  border-color: #468847;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .input-with-feedback:hover {
  border-color: #468847;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.has-success .input-with-feedback:focus {
  border-color: #468847;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #dd4b39;
  border-color: #dd4b39;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #dd4b39;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}
.input-group-addon,
.input-group-btn,
.input-group input {
  display: table-cell;
  margin: 0;
  border-radius: 0;
}
.input-group-addon.input-small,
.input-group-btn.input-small,
.input-group input.input-small {
  border-radius: 0;
}
.input-group-addon.input-large,
.input-group-btn.input-large,
.input-group input.input-large {
  border-radius: 0;
}
.input-group-addon {
  padding: 4px 8px;
  font-size: 13px;
  line-height: 20px;
  background-color: #eeeeee;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
}
.input-group-addon.input-small {
  padding: 2px 8px;
  font-size: 12px;
}
.input-group-addon.input-large {
  padding: 9px 14px;
  font-size: 14px;
}
.input-group input:first-child,
.input-group-addon:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.input-group input:first-child.input-small,
.input-group-addon:first-child.input-small {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
.input-group input:first-child.input-large,
.input-group-addon:first-child.input-large {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group input:last-child,
.input-group-addon:last-child {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.input-group input:last-child.input-small,
.input-group-addon:last-child.input-small {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
.input-group input:last-child.input-large,
.input-group-addon:last-child.input-large {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn > .btn:focus {
  z-index: 2;
}
.input-group-btn:first-child > .btn:first-child,
.input-group-btn:first-child > .dropdown-toggle:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.input-group-btn:first-child > .btn:first-child.btn-large,
.input-group-btn:first-child > .dropdown-toggle:first-child.btn-large {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group-btn:first-child > .btn:first-child.btn-small,
.input-group-btn:first-child > .dropdown-toggle:first-child.btn-small {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
.input-group-btn:last-child > .btn:last-child,
.input-group-btn:last-child > .dropdown-toggle {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.input-group-btn:last-child > .btn:last-child.btn-large,
.input-group-btn:last-child > .dropdown-toggle.btn-large {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group-btn:last-child > .btn:last-child.btn-small,
.input-group-btn:last-child > .dropdown-toggle.btn-small {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
@media screen and (min-width: 768px) {
  .form-horizontal .control-group {
    margin-bottom: 20px;
  }
  .form-horizontal .control-group > .control-label {
    width: 160px;
  }
  .form-horizontal .control-group > .controls {
    margin-left: 180px;
  }
}
.btn {
  padding: 4px 12px;
  margin: 0;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  cursor: default;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  background-color: #f3f3f3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:hover {
  text-shadow: none;
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f8f8f8, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #F5E7C4);
  background-image: -o-linear-gradient(top, #f8f8f8, #F5E7C4);
  background-image: linear-gradient(to bottom, #f8f8f8, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #333333;
}
.btn:active,
.btn.active {
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: -o-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: linear-gradient(to bottom, #f6f6f6, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
  background-color: #e8e8e8;
}
.btn:focus {
  /* Blue border on button focus. */

  border-color: #4d90fe;
  outline-style: none;
  background-color: #f3f3f3;
}
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active {
  border: 1px solid #dcdcdc;
  background-color: #f3f3f3;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 14px;
  border-radius: 2px;
}
.btn-small {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 2px;
}
.btn-mini {
  padding: 1px 6px;
  font-size: 11px;
  border-radius: 2px;
}
.btn .glyphicon {
  font-weight: normal;
}
.btn-large .glyphicon {
  margin-top: 1px;
}
.btn-mini .glyphicon {
  margin-top: -1px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-primary:active,
.btn-primary.active,
.btn-warning:active,
.btn-warning.active,
.btn-danger:active,
.btn-danger.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.btn-warning.active,
.btn-warning:active,
.btn-warning:hover,
.btn-danger.active,
.btn-danger:active,
.btn-danger:hover,
.btn-success.active,
.btn-success:active,
.btn-success:hover,
.btn-info.active,
.btn-info:active,
.btn-info:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  border: 1px solid #3079ed;
  color: #ffffff;
  background-color: #4787ed;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #196aeb;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#3078eb));
  background-image: -webkit-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -o-linear-gradient(top, #4d90fe, #3078eb);
  background-image: linear-gradient(to bottom, #4d90fe, #3078eb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff3078eb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #3078eb;
  background-color: #3078eb \9;
}
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #135fd7;
  background-color: #1969e8;
  background-image: -moz-linear-gradient(top, #4d90fe, #1969e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#1969e8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #1969e8);
  background-image: -o-linear-gradient(top, #4d90fe, #1969e8);
  background-image: linear-gradient(to bottom, #4d90fe, #1969e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff1969e8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:focus {
  border: 1px solid #3079ed;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border: 1px solid #3079ed;
  background-color: #4787ed;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #4d90fe;
  background-color: #4d90fe \9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-danger {
  border: 1px solid #c6322a;
  color: #ffffff;
  background-color: #d14836;
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(to bottom, #dd4b39, #d14836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffd14836', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  border: 1px solid #b12d26;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #dd4b39, #c13e2c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c13e2c));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c13e2c);
  background-image: -o-linear-gradient(top, #dd4b39, #c13e2c);
  background-image: linear-gradient(to bottom, #dd4b39, #c13e2c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc13e2c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #c13e2c;
  background-color: #c13e2c \9;
}
.btn-danger:active,
.btn-danger.active {
  border: 1px solid #9c2721;
  background-color: #ad3727;
  background-image: -moz-linear-gradient(top, #dd4b39, #ad3727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#ad3727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #ad3727);
  background-image: -o-linear-gradient(top, #dd4b39, #ad3727);
  background-image: linear-gradient(to bottom, #dd4b39, #ad3727);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffad3727', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:focus {
  border: 1px solid #c6322a;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  border: 1px solid #c6322a;
  background-color: #d14836;
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(to bottom, #dd4b39, #d14836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffd14836', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #dd4b39;
  background-color: #dd4b39 \9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-warning {
  border: 1px solid #faa328;
  color: #ffffff;
  background-color: #faa937;
  background-image: -moz-linear-gradient(top, #fbb450, #faa937);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#faa937));
  background-image: -webkit-linear-gradient(top, #fbb450, #faa937);
  background-image: -o-linear-gradient(top, #fbb450, #faa937);
  background-image: linear-gradient(to bottom, #fbb450, #faa937);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffaa937', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  border: 1px solid #f9980f;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fbb450, #f99e1e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f99e1e));
  background-image: -webkit-linear-gradient(top, #fbb450, #f99e1e);
  background-image: -o-linear-gradient(top, #fbb450, #f99e1e);
  background-image: linear-gradient(to bottom, #fbb450, #f99e1e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff99e1e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #f99e1e;
  background-color: #f99e1e \9;
}
.btn-warning:active,
.btn-warning.active {
  border: 1px solid #e98b06;
  background-color: #f89306;
  background-image: -moz-linear-gradient(top, #fbb450, #f89306);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89306));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89306);
  background-image: -o-linear-gradient(top, #fbb450, #f89306);
  background-image: linear-gradient(to bottom, #fbb450, #f89306);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89306', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:focus {
  border: 1px solid #faa328;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  border: 1px solid #faa328;
  background-color: #faa937;
  background-image: -moz-linear-gradient(top, #fbb450, #faa937);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#faa937));
  background-image: -webkit-linear-gradient(top, #fbb450, #faa937);
  background-image: -o-linear-gradient(top, #fbb450, #faa937);
  background-image: linear-gradient(to bottom, #fbb450, #faa937);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffaa937', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #fbb450;
  background-color: #fbb450 \9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-success {
  border: 1px solid #359947;
  color: #ffffff;
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top, #35aa47, #35aa47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#35aa47));
  background-image: -webkit-linear-gradient(top, #35aa47, #35aa47);
  background-image: -o-linear-gradient(top, #35aa47, #35aa47);
  background-image: linear-gradient(to bottom, #35aa47, #35aa47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35aa47', endColorstr='#ff35aa47', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  border: 1px solid #2e863e;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #35aa47, #2f973f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#2f973f));
  background-image: -webkit-linear-gradient(top, #35aa47, #2f973f);
  background-image: -o-linear-gradient(top, #35aa47, #2f973f);
  background-image: linear-gradient(to bottom, #35aa47, #2f973f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35aa47', endColorstr='#ff2f973f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #2f973f;
  background-color: #2f973f \9;
}
.btn-success:active,
.btn-success.active {
  border: 1px solid #287335;
  background-color: #298337;
  background-image: -moz-linear-gradient(top, #35aa47, #298337);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#298337));
  background-image: -webkit-linear-gradient(top, #35aa47, #298337);
  background-image: -o-linear-gradient(top, #35aa47, #298337);
  background-image: linear-gradient(to bottom, #35aa47, #298337);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35aa47', endColorstr='#ff298337', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:focus {
  border: 1px solid #359947;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  border: 1px solid #359947;
  background-image: -moz-linear-gradient(top, #35aa47, #35aa47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#35aa47));
  background-image: -webkit-linear-gradient(top, #35aa47, #35aa47);
  background-image: -o-linear-gradient(top, #35aa47, #35aa47);
  background-image: linear-gradient(to bottom, #35aa47, #35aa47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35aa47', endColorstr='#ff35aa47', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #35aa47;
  background-color: #35aa47 \9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-info {
  border: 1px solid #46b8da;
  color: #ffffff;
  background-color: #5bc0de;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(to bottom, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff5bc0de', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  border: 1px solid #31b0d5;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #46b8da);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#46b8da));
  background-image: -webkit-linear-gradient(top, #5bc0de, #46b8da);
  background-image: -o-linear-gradient(top, #5bc0de, #46b8da);
  background-image: linear-gradient(to bottom, #5bc0de, #46b8da);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff46b8da', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #46b8da;
  background-color: #46b8da \9;
}
.btn-info:active,
.btn-info.active {
  border: 1px solid #28a1c5;
  background-color: #31b0d5;
  background-image: -moz-linear-gradient(top, #5bc0de, #31b0d5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#31b0d5));
  background-image: -webkit-linear-gradient(top, #5bc0de, #31b0d5);
  background-image: -o-linear-gradient(top, #5bc0de, #31b0d5);
  background-image: linear-gradient(to bottom, #5bc0de, #31b0d5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:focus {
  border: 1px solid #46b8da;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  border: 1px solid #46b8da;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(to bottom, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff5bc0de', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #5bc0de;
  background-color: #5bc0de \9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link {
  color: #1155cc;
}
.btn-link:hover,
.btn-link:focus {
  color: #1155cc;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #333333;
}
.dropdown-menu {
  padding: 0 0 6px 0;
  margin: 1px 0 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-menu .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #ebebeb;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu > li > a {
  padding: 3px 30px;
  position: relative;
}
.dropdown-menu > li > a i {
  position: absolute;
  left: 7px;
  top: 4px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #333333;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -o-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffeeeeee', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #333333;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -o-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffeeeeee', GradientType=0);
}
.dropdown-submenu > .dropdown-menu {
  border-radius: 0;
}
.dropup .dropdown-submenu > .dropdown-menu {
  border-radius: 0;
}
.dropdown-submenu > a:after {
  border-left-color: #808080;
  margin-right: -20px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #000000;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  border-radius: 0;
  margin-left: 18px;
}
.list-group {
  background-color: #ffffff;
}
.list-group-item {
  color: #222222;
  border: 1px solid #e5e5e5;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
a.list-group-item,
li.list-group-item > a {
  color: #222222;
}
li.list-group-item {
  padding: 1px 30px 1px 15px;
  border: 0 none;
}
li.list-group-item > a {
  display: block;
  padding: 0 15px;
  margin-left: -15px;
  margin-right: -15px;
}
a.list-group-item:hover,
a.list-group-item:focus,
li.list-group-item > a:hover,
li.list-group-item > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
a.list-group-item.active,
li.list-group-item.active > a {
  font-weight: bold;
  color: #dd4b39;
  background-color: transparent;
  border-color: #e5e5e5;
  border-left: 3px solid #dd4b39;
}
a.list-group-item.active:hover,
li.list-group-item.active > a:hover {
  background-color: #eeeeee;
}
a.list-group-item.active .list-group-item-heading,
li.list-group-item.active > a .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
li.list-group-item.active > a .list-group-item-text {
  color: #888888;
  font-weight: normal;
}
li.list-group-item.active > a {
  padding-left: 12px;
}
li.list-group-item a > .badge,
li.list-group-item a > .glyphicon-chevron-right {
  float: right;
  margin-right: -15px;
}
li.list-group-item a > .glyphicon-chevron-right {
  margin-right: -15px;
}
li.list-group-item a > .glyphicon + .badge {
  margin-right: 5px;
}
.list-group-header {
  display: block;
  padding: 10px 30px 10px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
li.nav-header,
li.list-group-header {
  padding: 3px 15px;
}
.list-group .nav-header,
.list-group .list-group-header {
  margin-top: 9px;
}
.list-group .divider {
  background-color: #e5e5e5;
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #ebebeb;
  border-bottom: 1px solid #ffffff;
}
.panel {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-heading {
  font-size: 16.25px;
  background-color: rgba(243, 243, 243, 0.85);
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-primary {
  border-color: #4d90fe;
}
.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #4d90fe;
  border-color: #4d90fe;
}
.panel-success {
  border-color: #a3d48e;
}
.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #a3d48e;
}
.panel-warning {
  border-color: #f0c36d;
}
.panel-warning .panel-heading {
  color: #333333;
  background-color: #f9edbe;
  border-color: #f0c36d;
}
.panel-danger {
  border-color: #d59595;
}
.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #d59595;
}
.panel-info {
  border-color: #85c5e5;
}
.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #85c5e5;
}
.well {
  background-color: #F5E7C4;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.well-large {
  border-radius: 0;
}
.well-small {
  border-radius: 0;
}
.scrollable::-webkit-scrollbar {
  height: 16px;
  width: 10px;
}
.scrollable::-webkit-scrollbar-button:start:decrement,
.scrollable::-webkit-scrollbar-button:end:increment {
  background-color: transparent;
  display: block;
  height: 0;
}
.scrollable::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid
  transparent;
  border-width: 0 0 0 4px;
}
.scrollable::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 0;
}
.scrollable::-webkit-scrollbar:hover {
  background-color: #f3f3f3;
  border: 1px solid #dbdbdb;
}
.scrollable::-webkit-scrollbar-thumb:vertical,
.scrollable::-webkit-scrollbar-thumb:horizontal {
  background-color: #c6c6c6;
  border-radius: 0;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid transparent;
  border-width: 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  background-clip: padding-box;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}
.scrollable::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
  color: #666;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  font-weight: bold;
  color: #333;
}
.nav-tabs-google > li {
  margin: 0 -1px 0 0;
}
.nav-tabs-google > li > a {
  padding: 7px 15px;
  line-height: 20px;
  color: #333333;
  border: 3px solid transparent;
  border-width: 3px 0;
  border-radius: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.nav-tabs-google > li > a:hover,
.nav-tabs-google > li > a:focus {
  background-color: transparent;
  border-top-color: transparent;
}
.nav-tabs-google > li > a:hover {
  border-bottom-color: #dd4b39;
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-tabs-google > li > a:focus {
  border-color: #3f76b7;
  outline: 0;
}
.nav-tabs-google > li > a:active,
.nav-tabs-google > .active > a,
.nav-tabs-google > .active > a:hover,
.nav-tabs-google > .active > a:focus {
  border: 3px solid transparent;
  border-width: 3px 0;
  border-bottom-color: #dd4b39;
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-tabs-google > .active > a:focus {
  border-color: #3f76b7;
}
.nav-pills > li > a {
  border-radius: 2px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #4d90fe;
}
.nav > .disabled > a {
  color: #999999;
}
.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  color: #999999;
}
.nav-header {
  line-height: 20px;
  color: #999999;
}
/*
// DROPDOWNS
// ---------

.nav-tabs .dropdown-menu {
  border-radius: 0; // remove the top rounded corners here since there is a hard edge above the menu
}
.nav-tabs .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.nav-tabs .dropdown-toggle:hover .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.nav-pills .dropdown-menu {
  border-radius: 0; // make rounded corners match the pills
}
*/
.navbar {
  min-height: 28px;
  background-color: #2d2d2d;
  border: 1px solid #000000;
  border-radius: 2px;
}
.navbar .nav > li > a {
  padding: 5px 15px 3px;
  font-weight: bold;
  color: #999999;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ffffff;
  background-color: #141414;
}
.navbar .nav > .disabled > a,
.navbar .nav > .disabled > a:hover,
.navbar .nav > .disabled > a:focus {
  color: #555555;
  background-color: transparent;
}
.navbar input[class*="span"],
.navbar select[class*="span"],
.navbar textarea[class*="span"] {
  height: 26px;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 1030;
}
.navbar-brand {
  padding: 4px 15px 4px;
  color: #999999;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.navbar-toggle {
  padding: 8px 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #444;
  background-image: none;
  border: 1px solid #222;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > .divider {
  height: 28px;
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #202020;
  border-bottom: 1px solid #3a3a3a;
}
.navbar-form {
  margin-top: 1px;
  margin-bottom: 1px;
}
.navbar-brand.dropdown-menu {
  display: none;
  padding: 0 0 6px;
  margin: 1px 0 0 -15px;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
}
.open > .navbar-brand.dropdown-menu {
  display: block;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #141414;
  color: #ffffff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  border-radius: 0;
}
.navbar-inverse {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}
.navbar-inverse .navbar-brand {
  color: #999999;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #808080;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #999999;
}
.navbar-inverse .nav > li > a {
  color: #999999;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus {
  color: #333333;
  background-color: #e1e1e1;
}
.navbar-inverse .nav > .disabled > a,
.navbar-inverse .nav > .disabled > a:hover,
.navbar-inverse .nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  background-color: #444;
}
.navbar-inverse .nav > .divider {
  background-color: #ededed;
  border-bottom-color: #ffffff;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e1e1e1;
  color: #333333;
}
.navbar-inverse .nav li.dropdown > a:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-masthead {
  min-height: 44px;
  margin: 0;
  border: 1px #e5e5e5;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(90, 84, 82, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(90,84,82,0.2);
  box-shadow: 0 2px 2px rgba(90, 84, 82, 0.2);
  color: #999999;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #F5E7C4, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5E7C4), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #F5E7C4, #F5E7C4);
  background-image: -o-linear-gradient(top, #F5E7C4, #F5E7C4);
  background-image: linear-gradient(to bottom, #F5E7C4, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f1f1', endColorstr='#fff1f1f1', GradientType=0);
}
.navbar-masthead .nav > li > a {
  float: none;
  padding: 8px 15px;
  font-weight: normal;
  font-size: 16px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #f5f5f5;
}
.navbar-masthead .nav > li > a:focus,
.navbar-masthead .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #333333;
}
.navbar-masthead .nav > .active > a,
.navbar-masthead .nav > .active > a:hover,
.navbar-masthead .nav > .active > a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
  text-decoration: none;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #F5E7C4, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5E7C4), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #F5E7C4, #F5E7C4);
  background-image: -o-linear-gradient(top, #F5E7C4, #F5E7C4);
  background-image: linear-gradient(to bottom, #F5E7C4, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f1f1', endColorstr='#fff1f1f1', GradientType=0);
}
.navbar-masthead .nav > .disabled > a,
.navbar-masthead .nav > .disabled > a:hover,
.navbar-masthead .nav > .disabled > a:focus {
  color: #bbbbbb;
  background-color: transparent;
}
.navbar-masthead.navbar-fixed-top,
.navbar-masthead.navbar-fixed-bottom {
  z-index: 1029;
}
.navbar-masthead .navbar-brand:hover,
.navbar-masthead .navbar-brand:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
}
.navbar-masthead .navbar-toggle {
  padding: 4px 10px 7px;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
}
.navbar-masthead .nav > .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e4e4e4;
  border-bottom: 1px solid #fefefe;
}
.navbar-masthead .navbar-form {
  margin-top: 7px;
  margin-bottom: 7px;
}
.navbar-masthead .nav li.dropdown > a:hover .caret,
.navbar-masthead .nav li.dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-masthead .nav li.dropdown.open > .dropdown-toggle,
.navbar-masthead .nav li.dropdown.active > .dropdown-toggle,
.navbar-masthead .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e5e5e5;
  color: #333333;
}
.navbar-masthead .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.navbar-masthead .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-masthead .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-masthead .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-masthead.navbar-inverse {
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #555555, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#444444));
  background-image: -webkit-linear-gradient(top, #555555, #444444);
  background-image: -o-linear-gradient(top, #555555, #444444);
  background-image: linear-gradient(to bottom, #555555, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff444444', GradientType=0);
  border-color: #333333;
  color: #999999;
}
.navbar-masthead.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-masthead.navbar-inverse .navbar-brand:hover,
.navbar-masthead.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-masthead.navbar-inverse .navbar-brand,
.navbar-masthead.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-masthead.navbar-inverse .navbar-brand:hover,
.navbar-masthead.navbar-inverse .nav > li > a:hover {
  color: #bbbbbb;
}
.navbar-masthead.navbar-inverse .nav > li > a:hover,
.navbar-masthead.navbar-inverse .nav > li > a:focus {
  color: #bbbbbb;
  background-color: transparent;
}
.navbar-masthead.navbar-inverse .nav > .active > a,
.navbar-masthead.navbar-inverse .nav > .active > a:hover,
.navbar-masthead.navbar-inverse .nav > .active > a:focus {
  color: #bbbbbb;
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#444444));
  background-image: -webkit-linear-gradient(top, #444444, #444444);
  background-image: -o-linear-gradient(top, #444444, #444444);
  background-image: linear-gradient(to bottom, #444444, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff444444', GradientType=0);
}
.navbar-masthead.navbar-inverse .nav > .disabled > a,
.navbar-masthead.navbar-inverse .nav > .disabled > a:hover,
.navbar-masthead.navbar-inverse .nav > .disabled > a:focus {
  color: #777777;
  background-color: transparent;
}
.navbar-masthead.navbar-inverse .nav > .divider {
  background-color: #373737;
  border-bottom-color: #515151;
}
.navbar-masthead.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-masthead.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-masthead.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #444444;
  color: #bbbbbb;
}
.navbar-masthead.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-masthead.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-masthead.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-masthead.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #bbbbbb;
  border-bottom-color: #bbbbbb;
}
.navbar-main {
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 36px;
  margin: 0px;
  color: #999999;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  border: 1px solid #d7d7d7;
}
.navbar-main .nav > li {
  position: relative;
}
.navbar-main .nav > li > a {
  padding: 8px 15px 8px;
  color: #777777;
  text-shadow: none;
}
.navbar-main .nav > li > a.navbar-brand {
  color: #dd4b39;
}
.navbar-main .nav > .active > a {
  font-weight: bold;
}
.navbar-main .nav > .active > a:before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  display: inline-block;
  margin-left: -8px;
  /* value should match border-width below */

  border-right: 8px solid transparent;
  border-bottom: 8px solid #d7d7d7;
  border-left: 8px solid transparent;
  content: '';
}
.navbar-main .nav > .active > a:after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  display: inline-block;
  margin-left: -7px;
  /* value should match border-width below */

  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
}
.navbar-main .nav > li > a:hover,
.navbar-main .nav > li > a:focus {
  color: #333333;
  text-decoration: underline;
  background-color: transparent;
}
.navbar-main .nav > .active > a,
.navbar-main .nav > .active > a:hover,
.navbar-main .nav > .active > a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
  background-color: #f2f2f2;
}
.navbar-main .nav > .disabled > a,
.navbar-main .nav > .disabled > a:hover,
.navbar-main .nav > .disabled > a:focus {
  color: #bbbbbb;
  text-decoration: none;
  background-color: transparent;
}
.navbar-main .nav > li > a.navbar-brand:hover,
.navbar-main .nav > li > a.navbar-brand:focus {
  color: #dd4b39;
  text-decoration: none;
}
.navbar-main.navbar-fixed-top,
.navbar-main.navbar-fixed-bottom {
  z-index: 1028;
}
.navbar-main .btn {
  font-size: 11px;
}
.navbar-main .navbar-brand,
.navbar-main .navbar-brand .btn {
  font-size: 16px;
  font-weight: bold;
  color: #dd4b39;
  text-shadow: none;
}
.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand .btn:hover,
.navbar-main .navbar-brand:focus,
.navbar-main .navbar-brand .btn:focus {
  color: #dd4b39;
  text-decoration: none;
  background-color: transparent;
}
.navbar-main .navbar-toggle {
  padding: 4px 10px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
}
.navbar-main .nav > .divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ffffff;
}
.navbar-main .navbar-form {
  margin-top: 3px;
  margin-bottom: 3px;
}
.navbar-main .btn-toolbar {
  margin-top: 3px;
  margin-bottom: 3px;
}
.navbar-main .navbar-brand.dropdown-menu {
  padding: 0 0 6px;
  font-size: 13px;
  background-color: #fff;
}
.navbar-main .nav > li > .dropdown-menu {
  border-top-width: 0;
  margin-top: 1px;
}
.navbar-main .nav > li > .dropdown-menu:before {
  display: none;
}
.navbar-main .nav > li > .dropdown-menu:after {
  display: none;
}
.navbar-main .nav li.dropdown > a:hover .caret,
.navbar-main .nav li.dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-main .nav li.dropdown.open > .dropdown-toggle,
.navbar-main .nav li.dropdown.active > .dropdown-toggle,
.navbar-main .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #f3f3f3;
  color: #333333;
}
.navbar-main .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.navbar-main .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-main .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-main .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-main .nav li.dropdown.open > .navbar-brand.dropdown-toggle,
.navbar-main .nav li.dropdown.active > .navbar-brand.dropdown-toggle,
.navbar-main .nav li.dropdown.open.active > .navbar-brand.dropdown-toggle {
  background-color: #f2f2f2;
  color: #dd4b39;
  text-decoration: none;
}
.navbar-main .nav li.dropdown > .navbar-brand.dropdown-toggle .caret {
  border-top-color: #dd4b39;
  border-bottom-color: #dd4b39;
}
.navbar-main.navbar-inverse {
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #555555, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#444444));
  background-image: -webkit-linear-gradient(top, #555555, #444444);
  background-image: -o-linear-gradient(top, #555555, #444444);
  background-image: linear-gradient(to bottom, #555555, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff444444', GradientType=0);
  border-color: #333333;
  color: #999999;
}
.navbar-main.navbar-inverse .navbar-brand,
.navbar-main.navbar-inverse .nav > li > a {
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-main.navbar-inverse .navbar-brand:hover,
.navbar-main.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
}
.navbar-main.navbar-inverse .nav > li > a:hover,
.navbar-main.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-main.navbar-inverse .nav > .active > a,
.navbar-main.navbar-inverse .nav > .active > a:hover,
.navbar-main.navbar-inverse .nav > .active > a:focus {
  font-weight: bold;
  color: #ffffff;
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#444444));
  background-image: -webkit-linear-gradient(top, #444444, #444444);
  background-image: -o-linear-gradient(top, #444444, #444444);
  background-image: linear-gradient(to bottom, #444444, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff444444', GradientType=0);
}
.navbar-main.navbar-inverse .nav > .active > a:hover {
  text-decoration: underline;
}
.navbar-main.navbar-inverse .nav > .disabled > a,
.navbar-main.navbar-inverse .nav > .disabled > a:hover,
.navbar-main.navbar-inverse .nav > .disabled > a:focus {
  color: #777777;
  background-color: transparent;
}
.navbar-main.navbar-inverse .nav > .divider {
  background-color: #373737;
  border-bottom-color: #515151;
}
.navbar-main.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-main.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-main.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #444444;
  color: #ffffff;
}
.navbar-main.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-main.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-main.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-main.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-static-top {
  border-radius: 0;
}
.navbar-fixed-top,
.navbar-static-top {
  border-width: 1px 0;
}
.navbar-fixed-bottom {
  border-width: 1px 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  border-radius: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.navbar-fixed-top {
  top: 0;
}
.navbar-fixed-bottom {
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .navbar-brand {
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -10px;
  }
  .navbar .nav {
    float: left;
    margin-top: 0;
  }
  .navbar .nav:before,
  .navbar .nav:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .navbar .nav:after {
    clear: both;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
  }
  .navbar .nav > .divider {
    width: 1px;
    height: 16.8px;
    margin: 5.6000000000000005px 9px;
    border-bottom: 0;
    border-right: 1px solid #3a3a3a;
  }
  .navbar-inverse .nav > .divider {
    border-right-color: #ffffff;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
@media screen and (min-width: 768px) {
  .navbar-masthead {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-masthead .navbar-brand {
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -10px;
  }
  .navbar-masthead .nav {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .navbar-masthead .nav:before,
  .navbar-masthead .nav:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .navbar-masthead .nav:after {
    clear: both;
  }
  .navbar-masthead .nav.pull-right {
    float: right;
  }
  .navbar-masthead .nav > li {
    float: left;
  }
  .navbar-masthead .nav > .divider {
    width: 1px;
    height: 26px;
    margin: 5px 9px;
    border-bottom: 0;
    border-right: 1px solid #fefefe;
  }
  .navbar-masthead .navbar-text {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .navbar-masthead.navbar-inverse .nav > .divider {
    border-right-color: #515151;
  }
  .navbar-masthead .navbar-toggle {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar-main {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-main .navbar-brand {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -10px;
  }
  .navbar-main .nav {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-main .nav:before,
  .navbar-main .nav:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

  }
  .navbar-main .nav:after {
    clear: both;
  }
  .navbar-main .nav.pull-right {
    float: right;
  }
  .navbar-main .nav > li {
    float: left;
  }
  .navbar-main .nav > .divider {
    width: 1px;
    height: 21.599999999999998px;
    margin: 7px 9px;
    border-bottom: 0;
    border-right: 1px solid #ffffff;
  }
  .navbar-main .navbar-text {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .navbar-main.navbar-inverse .nav > .divider {
    border-right-color: #515151;
  }
  .navbar-main .navbar-toggle {
    display: none;
  }
}
.btn .caret {
  border-top-color: #333333;
}
.dropup .btn .caret {
  border-bottom-color: #333333;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn-group {
  margin-left: 16px;
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.btn-group > .btn.large:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btn-group > .btn + .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group > .dropdown-toggle:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn-group > .btn-primary.dropdown-toggle:hover,
.btn-group > .btn-info.dropdown-toggle:hover,
.btn-group > .btn-warning.dropdown-toggle:hover,
.btn-group > .btn-danger.dropdown-toggle:hover,
.btn-group > .btn-success.dropdown-toggle:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-group > .btn.dropdown-toggle:active,
.btn-group > .btn.dropdown-toggle.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-group > .btn-primary.dropdown-toggle:active,
.btn-group > .btn-primary.dropdown-toggle.active,
.btn-group > .btn-warning.dropdown-toggle:active,
.btn-group > .btn-warning.dropdown-toggle.active,
.btn-group > .btn-danger.dropdown-toggle:active,
.btn-group > .btn-danger.dropdown-toggle.active,
.btn-group > .btn-success.dropdown-toggle:active,
.btn-group > .btn-success.dropdown-toggle.active,
.btn-group > .btn-info.dropdown-toggle:active,
.btn-group > .btn-info.dropdown-toggle.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group > .btn-mini.dropdown-toggle {
  padding: 2px 4px;
}
.btn-group > .btn-small.dropdown-toggle {
  padding: 5px 7px;
}
.btn-group > .btn-large.dropdown-toggle {
  padding: 9px 9px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #f3f3f3;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #4d90fe;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #faa937;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #d84a38;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #35aa47;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #5bc0de;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn .caret {
  margin-top: 8px;
}
.btn-mini .caret {
  margin-top: 5px;
}
.btn-small .caret {
  margin-top: 6px;
}
.btn-large .caret {
  margin-top: 6px;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn-group-vertical > .btn + .btn {
  margin-left: 0;
  margin-top: -1px;
}
.btn-group-vertical .btn:first-child {
  border-radius: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.btn-group-vertical .btn:last-child {
  border-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group-vertical .btn-large:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.btn-group-vertical .btn-large:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.breadcrumb {
  margin: 0 0 20px;
  background-color: #f3f3f3;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border-radius: 2px;
}
.breadcrumb > .active {
  color: #999999;
}
.pagination {
  margin: 20px 0;
  border-radius: 2px;
}
.pagination > li > a,
.pagination > li > span {
  line-height: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dcdcdc;
  border-left-width: 0;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pagination > li > a:active {
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: -o-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: linear-gradient(to bottom, #f6f6f6, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #f4f4f4;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pagination > .active > a,
.pagination > .active > span {
  color: #4d90fe;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #b3b3b3;
  border-color: #d9d9d9;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #f3f3f3;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pagination .disabled a [class^="icon-"] {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.pager {
  margin: 20px 0;
}
.pager li > a,
.pager li > span {
  padding: 4px 12px;
  overflow: visible;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: default;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  outline: none;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.pager li > a:hover,
.pager li > a:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-color: #c6c6c6;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f8f8f8, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #F5E7C4);
  background-image: -o-linear-gradient(top, #f8f8f8, #F5E7C4);
  background-image: linear-gradient(to bottom, #f8f8f8, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.pager li > a:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: -o-linear-gradient(top, #f6f6f6, #F5E7C4);
  background-image: linear-gradient(to bottom, #f6f6f6, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b3b3b3;
  text-shadow: none;
  background-color: #f3f3f3;
  border-color: #d9d9d9;
  background-color: #F5E7C4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#F5E7C4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: -o-linear-gradient(top, #f5f5f5, #F5E7C4);
  background-image: linear-gradient(to bottom, #f5f5f5, #F5E7C4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.modal-content {
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.333);
  border-radius: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.modal-backdrop {
  background-color: #fff;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  font-weight: normal;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.modal-body {
  padding: 15px;
}
.modal-footer {
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
}
.tooltip {
  font-weight: bold;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip-inner {
  border-radius: 0;
}
.popover {
  border-radius: 0;
  background-color: #ffffff;
}
.popover-title {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
}
.alert {
  padding: 8px 35px 8px 10px;
  text-shadow: none;
  color: #333333;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 2px;
}
.alert hr {
  border-top-color: #eeb956;
}
.alert > a,
.alert > p > a {
  font-weight: 500;
  color: #1a1a1a;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #a3d48e;
  color: #468847;
}
.alert-success hr {
  border-top-color: #93cd7c;
}
.alert-success > a,
.alert-success > p > a {
  color: #356635;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #d59595;
  color: #b94a48;
}
.alert-danger hr,
.alert-error hr {
  border-top-color: #ce8383;
}
.alert-danger > a,
.alert-error > a,
.alert-danger > p > a,
.alert-error > p > a {
  color: #953b39;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #85c5e5;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #70bbe1;
}
.alert-info > a,
.alert-info > p > a {
  color: #2d6987;
}
.alert-success,
.alert-danger,
.alert-error,
.alert-info {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.thumbnail,
.img-thumbnail {
  padding: 0;
  line-height: 20px;
  background-color: #fff;
  border: 3px solid #ffffff;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 1px #aaaaaa;
  box-shadow: 0 0 0 1px #aaaaaa;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #dedede;
  box-shadow: 0 0 0 1px #dedede;
}
.thumbnail .caption {
  padding: 9px 4px;
  color: #000000;
}
.label {
  border-radius: 0;
}
.label-danger {
  background-color: #d84a38;
}
.label-danger[href] {
  background-color: #b93524;
}
.label-warning {
  background-color: #faa937;
}
.label-warning[href] {
  background-color: #f89306;
}
.label-success {
  background-color: #35aa47;
}
.label-success[href] {
  background-color: #298337;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href] {
  background-color: #31b0d5;
}
a.list-group-item.active > .badge,
li.list-group-item.active a > .badge {
  color: #fff;
  background-color: #dd4b39;
}
.nav-pills > .active > a > .badge {
  color: #1155cc;
  background-color: #fff;
}
.progress {
  border: 1px solid #999;
  padding: 1px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  background-color: #6188f5;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-striped .progress-bar {
  background-color: #6188f5;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress-bar-danger {
  background-color: #c13e2c;
}
.progress-striped .progress-bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-success {
  background-color: #2f973f;
}
.progress-striped .progress-bar-success {
  background-color: #2f973f;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #fbb450;
}
.progress-striped .progress-bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #53bddc;
}
.progress-striped .progress-bar-info {
  background-color: #53bddc;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
